.lazyloading-wrapper
  position: relative

.placeholder
  --transition-time: .125s

  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  opacity: 1
  transition: opacity var(--transition-time)
  background-size: cover

  &.fade-out
    opacity: 0

.pageLoaded .placeholder
  display: none
