// type your sass here
%reset-Button
  border: none
  margin: 0
  padding: 0
  width: auto
  overflow: visible

  background: transparent

  /* inherit font & color from ancestor */
  color: inherit
  font: inherit

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit
  -moz-osx-font-smoothing: inherit

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none

  outline: none

*, *::before, *::after
  box-sizing: border-box

// $primary-color: #ffeeff
$primary-color: #fafbfb
$cosmic-blue: #1778c2
$light-blue: lighten(#d5e8e4, 8%)

$navbar-font-color: darken($primary-color, 0%)
$header-font-color: darken($primary-color, 80%)
$post-font-color: darken($primary-color, 80%)
$footer-font-color: $primary-color

$navbar-background-color: darken($cosmic-blue, 15%)
$header-background-color: $primary-color
$body-background-color: lighten($primary-color, 0%)
// $post-background-color: darken($primary-color, 2%)
$post-background-color: White
// $post-background-color: darken($primary-color, 1%)
$post-date-background-color: darken($primary-color, 24%)
$footer-background-color: $cosmic-blue

$navbar-box-shadow: 3px 5px 4px 1px darken($primary-color, 25%)
$post-box-shadow: 3px 5px 4px 1px darken($primary-color, 25%)
$post-box-shadow--hover: 2px 2px 1px 1px darken($primary-color, 25%)
// $post-date-box-shadow: 5px 4px 4px 1px darken(White, 20%)

h1, h2, h3, p
  margin: 0
  padding: 0
  font-style: inherit
  font-weight: inherit

a
  text-decoration: none
  color: inherit

ul, a
  list-style: none
  padding: 0
  margin: 0

img
  max-width: 100%
  display: block

figure
  margin: 0
  padding: 0
  display: block

html,
body
  margin: 0
  font-family: 'Montserrat', sans-serif
  font-weight: 500

body
  background-color: $body-background-color
  background-image: url("../assets/textures/concrete-wall.png")
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100vh

.main
  padding-top: 6.25rem

.header
  font-family: 'Ubuntu', sans-serif
  color: $header-font-color
  width: 90%
  display: none
  padding: 0 1.7rem 0 0 //1.125rem
  padding-left: 3.5vw
  margin-left: 1.5vw
  margin-bottom: 0.75rem

.header-title
  padding: 0 1vw
  margin-bottom: .2rem
  line-height: 2rem
  display: none

.header-text
  font-size: 1.4rem
  padding: 1vh 1vw
  margin-right: 6vw
  display: none

  a
    color: #1778c2
    cursor: pointer

.navbar
  background-color: $navbar-background-color
  left: 0
  top: 0
  padding: 1.3rem 6vw 1.7rem
  width: 100%
  position: absolute
  color: $navbar-font-color
  box-shadow: $navbar-box-shadow
  z-index: 7

  &-min
    display: flex
    justify-content: space-between

  &-logo
    font-size: 1.4rem
    font-weight: 700
    padding-bottom: 0px

  &-items
    display: none

  &.show .navbar-items
    display: block

  &-toggle
    width: 21%
    display: flex
    flex-direction: column
    justify-content: center
    cursor: pointer

    .line
      height: .3vh
      margin-bottom: 1vh
      background-color: $navbar-font-color
      width: 65%
      margin-left: auto

    .line:last-child
      margin-bottom: 0

.navbar.show .line
  opacity: 0.1

.navlink
  border-bottom: 1px solid transparent

  span
    width: auto
  a
    display: block
    width: 100%
    padding: 0.175rem 0.175rem 0.175rem 0

.navlink:not(.navlink-active):hover span,
.navlink-active span
  border-bottom: 1px solid $navbar-font-color

.info-card
  display: none

@media only screen and (min-width: 650px)
  .navbar
    display: flex
    align-items: center

  .navbar-min
    width: auto
    margin-bottom: 0

  .navbar-items
    display: flex
    width: 100%
    margin-left: 5%

  .navlink
    margin-bottom: 0

  .navlink-active
    padding: 0

  .navlink
    margin-right: 3.5%

    a
      display: inline

    &:nth-child(6)
      margin-left: auto

    &:last-child
      margin-right: 0

  //.navbar-toggle
  //  display: none

@media only screen and (min-width: 730px)
  .info-card
    // background-color: #eee
    background-color: $light-blue
    display: flex
    flex-direction: column
    justify-content: center
    width: 50%
    height: auto
    padding: 0 3.5vw

    // &-blue
      // background-color: $cosmic-blue

    h2,
    h3,
    p
      display: block

    h2
      // font-size: 1.3rem

    h3
      // font-size: 1rem

    p
      // font-size: .9rem
      padding: 0
      margin-right: 0
      margin-left: auto

    h2,
    h3,
    p,
    .divider-line
      max-width: 684.47px

    h2,
    h3
      margin-right: auto

    h2
      margin-bottom: .2rem

    h3
      margin-bottom: 0.6rem

    .divider-line
      height: 2px
      width: 100%
      border-bottom: 2px solid $cosmic-blue
      margin: 0 0 0.15rem

      &-vscode
        border-bottom: 2px solid #1e1e1e

@media (min-width: 730px) and (max-width: 835px)
  .info-card
    // h2
      // font-size: 1.3rem
      // margin-bottom: 0.5rem

    // h3
      // font-size: 1rem

    .divider-line
      // margin-bottom: .25rem

    p
      margin-left: 0
      margin-right: auto
      // font-size: .85rem

.navbar-fixed
  position: fixed
  margin: 0
  width: 100%
  top: 0

// .modal
//   position: fixed
//   top: 0
//   left: 0
//   bottom: 0
//   right: 0
//   opacity: 0.7
//   background-color: black
//   z-index: 22



// .showHeaderText
  // display: block

.posts
  width: 95%
  margin-left: 2.5%
  margin-right: 2.5%
  line-height: 1.5rem
  margin-bottom: 5%
  // box-shadow: $post-date-box-shadow

.post
  display: flex
  flex-direction: column
  padding-bottom: 3.5rem
  margin-bottom: 7vh
  position: relative
  // padding: 1.3rem 1rem
  background-color: $post-background-color
  color: $post-font-color
  // border-radius: 10px
  box-shadow: $post-box-shadow
  // background-image: url("https://www.transparenttextures.com/patterns/dirty-old-black-shirt.png")

.post-image
  align-self: center
  overflow: hidden

  img
    transition: transform .5s

    &:hover
      transform: scale(1.01)
  // margin-bottom: 2rem

  img
    width: 100%
    // border-radius: 10px
    // box-shadow: $post-date-box-shadow

.post-title
  // margin-bottom: 1rem
  font-size: 1.3rem
  // text-align: center
  padding: 1.3rem 3.5vw

.post-date
  // padding: 6vw
  // background-color: $post-date-background-color
  // margin-bottom: 1.7rem
  // width: 60%
  border-radius: 7px
  padding: 1.3rem 3.5vw
  text-align: right
  // box-shadow: $post-date-box-shadow
  // color: $post-background-color

.post-text
  letter-spacing: .075rem
  color: #333
  line-height: 1.5rem
  color: inherit
  margin-bottom: 1rem
  padding: .5rem 3.5vw 1.3rem 3.5vw

@media only screen and (min-width: 1050px)
  .header-title,
  .header-text
    display: none

.footer
  background-color: $footer-background-color
  color: $footer-font-color
  padding: 7% 0
  font-family: 'Ubuntu', sans-serif

.footer-whois
  margin-left: 6%
  // font-size: 1.4rem
  margin-bottom: 2%


.footer-copyright
  margin-left: 6%
  margin-right: 55%

.tagcloud-wrapper
  display: flex
  position: absolute
  bottom: 1rem
  left: 3.5vw

.tagcloud-label
  // margin-left: 3.5vw
  // margin-bottom: .5rem

.tagcloud
  display: flex
  margin-left: .5rem
  padding: 0

.tagcloud::before
  // content: '['

.tagcloud::after
  // content: ']'

.tagcloud li
  // margin-right: 0.5rem
  color: $cosmic-blue

.tagcloud li:first-child::before
  content: ''

.tagcloud li::after
  content: ', '
  margin-right: .5rem

.tagcloud li:last-child::after
  content: ''
  margin-right: 0

