.posts
  width: 95%
  margin-left: 2.5%
  margin-right: 2.5%
  line-height: 1.5rem
  margin-bottom: 5%
  // box-shadow: $post-date-box-shadow

.post
  display: flex
  flex-direction: column
  margin-bottom: 7vh
  // padding: 1.3rem 1rem 
  background-color: $post-background-color
  color: $post-font-color
  // border-radius: 10px
  box-shadow: $post-box-shadow
  // background-image: url("https://www.transparenttextures.com/patterns/dirty-old-black-shirt.png")

.post-image
  align-self: center
  // margin-bottom: 2rem

  img
    width: 100%
    // border-radius: 10px 
    // box-shadow: $post-date-box-shadow

.post-title
  // margin-bottom: 1rem
  font-size: 1.3rem
  // text-align: center
  padding: 1.3rem 3.5vw 

.post-date
  // padding: 6vw
  // background-color: $post-date-background-color
  // margin-bottom: 1.7rem
  // width: 60%
  border-radius: 7px
  padding: 1.3rem 3.5vw
  text-align: right
  // box-shadow: $post-date-box-shadow
  // color: $post-background-color

.post-text
  letter-spacing: .075rem
  color: #333
  line-height: 1.5rem
  color: inherit
  margin-bottom: 1rem
  padding: .5rem 3.5vw 1.3rem 3.5vw

  