.posts
  width: 95%
  margin-left: 2.5%
  margin-right: 2.5%
  line-height: 1.5rem
  margin-bottom: 5%

.post
  display: flex
  flex-direction: column
  margin-bottom: 7vh
  background-color: $post-background-color
  color: $post-font-color
  box-shadow: $post-box-shadow

.post-image
  align-self: center

  img
    width: 100%

.post-title
  font-size: 1.3rem
  padding: 1.3rem 3.5vw

h2 .stories,
p .stories
  width: 670px

.post-date
  border-radius: 7px
  padding: 1.3rem 3.5vw
  text-align: right

.post-text
  letter-spacing: .075rem
  line-height: 1.5rem
  margin-bottom: 1rem
  padding: .5rem 3.5vw 1.3rem 3.5vw
