{{#> layouts/base }}
  {{#*inline "content"}}
    <main data-barba="container" class="main">
      <header class="header">
        <h1 class="header-title">
          Заметки
        </h1>
      </header>
      <section class="posts frontend">
        <article class="post">
          <a href='/articles/thoughts'>
            <figure class="post-image">
              <img width="300"
                   height="200"
                   src="media/images/frontend/stock_photo.jpeg"
                   alt="placeholder image">
            </figure>
          </a>
          <h3 class="post-title">
            <a href='/articles/thoughts'>
              Размышления о том, что делать дальше
            </a>
          </h3>
          <p class="post-text">
            Интересным образом сейчас возник вопрос о дальнейших путях развития.
            Что делать дальше? В какую сторону развиваться? Продолжить ли изучение
            фронтенда на передовой его части ( новейшие, бысроизменяющиеся фреймворки )
            или же продолжить изучение более стабильных и менее подверженных таким
            стремительным изменениям вещам.
          </p>
          <div class="tagcloud-wrapper">
            <p class='tagcloud-label'>
              Тэги:
            </p>
            <ul class="tagcloud">
              <li class="tag">thoughts</li>
              <li class="tag">roadmap</li>
            </ul>
          </div>
          <p class="post-date">
            17 October 2020
          </p>
        </article>
        <article class="post">
          <a href='/articles/serviceWorker-2.0/'>
            <figure class="post-image">
              <img width="300"
                   height="200"
                   src="media/images/frontend/vs_sw_screenshotII.png"
                   alt="vscode serviceworker screenshot">
            </figure>
          </a>
          <h3 class="post-title">
            <a href='/articles/serviceWorker-2.0/'>
              Сервис воркер: часть вторая
            </a>
          </h3>
          <p class="post-text">
          </p>
          <div class="tagcloud-wrapper">
            <p class='tagcloud-label'>
              Тэги:
            </p>
            <ul class="tagcloud">
              <li class="tag">js</li>
              <li class="tag">serviceWorker</li>
            </ul>
          </div>
          <p class="post-date">
            11 April 2020
          </p>
        </article>
        <article class="post">
          <a href='/articles/pwa-basics'>
            <figure class="post-image">
              <img width="300"
                   height="200"
                   src="media/images/frontend/vs_sw_screenshot.png"
                   alt="vscode serviceworker screenshot">
            </figure>
          </a>
          <h3 class="post-title">
            <a href='/articles/pwa-basics'>
              Делаем свой веб-сайт прогрессивным
            </a>
          </h3>
          <p class="post-text">
          </p>
          <div class="tagcloud-wrapper">
            <p class='tagcloud-label'>
              Тэги:
            </p>
            <ul class="tagcloud">
              <li class="tag">js</li>
              <li class="tag">serviceWorker</li>
            </ul>
          </div>
          <p class="post-date">
            4 November 2018
          </p>
        </article>

      </section>
    </main>
  {{/inline}}
{{/ layouts/base }}