{{!-- includes/footer --}}

<footer class="footer" {{#if hidden}}style="visibility: hidden; position: static;"{{/if}}>
  <p class="footer-whois">
    Павел Родионов
  </p>
  <p class="footer-copyright">
    2018 - 2020
  </p>
</footer>