{{!-- includes/navbar --}}

<nav class="navbar" {{#if hidden}}style="visibility: hidden; position: static;"{{/if}}>
  <div class="navbar-min">
    <div class="navbar-logo">
      <a href='/'>
        Главная
      </a>
    </div>
    <div class="navbar-icon">
      <a href="tg://resolve?domain=rodionov80"></a>
    </div>
  </div>
  <ul class="navbar-items">
    <li class="navlink">
      <a href="/articles">
        <span>
          Заметки
        </span>
      </a>
    </li>
    <li class="navlink">
      <a href="/works">
          <span>
            Портфолио
          </span>
      </a>
    </li>
    <li class="navlink">
      <a href="/about">
          <span>
            Обо мне
          </span>
      </a>
    </li>
    <li class="navlink">
      <a href="/krooshkin">
          <span>
            krooshkin
          </span>
      </a>
    </li>
  </ul>
</nav>