{{#> layouts/base title="Фотографии | sanya krooshkin"}}
  {{#*inline "head-block" }}
    <meta name="description" content="sanya krooshkin">
    <link rel="preload" as="image" href="media/images/krooshkin/2.jpeg">
    <link rel="preload" as="image" href="media/images/krooshkin/3.jpeg">
    <link rel="preload" as="image" href="media/images/krooshkin/4.jpeg">
    <link rel="preload" as="image" href="media/images/krooshkin/5.jpeg">
    <link rel="preload" as="image" href="media/images/krooshkin/6.jpeg">
    <link rel="preload" as="image" href="media/images/krooshkin/7.jpeg">
    <link rel="preload" as="image" href="media/images/krooshkin/8.jpeg">
  {{/inline}}
  {{#*inline "content"}}
    <main data-barba="container" data-barba-namespace="krooshkin" class="main">
      <header class="header krooshkin-header">
        <h1 class="header-title">
          sanya krooshkin
        </h1>
        <h2 class="header-text">
          мой друг @krooshkin есть и в
          <a href='https://www.instagram.com/krooshkin/' title='link to krooshkin instagram'>инстаграм</a>
        </h2>
      </header>

      <div class="modal"></div>

      <section class="photos">

        <article class="photo">
          <figure class="photo-image lazyloading-wrapper">
            <div class="sqip-placeholder" style="{{ [helpers/sqip] 'media/images/krooshkin/sqip/2.jpeg' }}"></div>
            <img width="300"
                 height="200"
                 src="media/images/krooshkin/2.jpeg"
                 alt="'autumn vibes' by krooshkin">
            <figcaption class="imageDescription">
              <span>Leningrad region</span> <br>
              autumn vibes
            </figcaption>
          </figure>
        </article>

        <article class="photo">
          <figure class="photo-image lazyloading-wrapper">
            <div class="sqip-placeholder" style="{{ [helpers/sqip] 'media/images/krooshkin/sqip/3.jpeg' }}"></div>
            <img width="300"
                 height="200"
                 src="media/images/krooshkin/3.jpeg"
                 alt="'a home' by krooshkin">
            <figcaption class="imageDescription">
              <span>Paul's safehouse</span> <br>
              a home
            </figcaption>
          </figure>
        </article>

        <article class="photo">
          <figure class="photo-image lazyloading-wrapper">
            <div class="sqip-placeholder" style="{{ [helpers/sqip] 'media/images/krooshkin/sqip/4.jpeg' }}"></div>
            <img width="300"
                 height="200"
                 src="media/images/krooshkin/4.jpeg"
                 alt="gradient by krooshkin">
            <figcaption class="imageDescription">
              <span>Sevastopol, Crimea</span> <br>
              gradient
            </figcaption>
          </figure>
        </article>

        <article class="photo">
          <figure class="photo-image lazyloading-wrapper">
            <div class="sqip-placeholder" style="{{ [helpers/sqip] 'media/images/krooshkin/sqip/5.jpeg' }}"></div>
            <img width="300"
                 height="200"
                 src="media/images/krooshkin/5.jpeg"
                 alt="a sad road to nowhere by krooshkin">
            <figcaption class="imageDescription">
              <span>Saint-Petersburg</span> <br>
              a sad road to nowhere
            </figcaption>
          </figure>
        </article>

        <article class="photo">
          <figure class="photo-image lazyloading-wrapper">
            <div class="sqip-placeholder" style="{{ [helpers/sqip] 'media/images/krooshkin/sqip/6.jpeg' }}"></div>
            <img width="300"
                 height="200"
                 src="media/images/krooshkin/6.jpeg"
                 alt="'a time when the life is better then it used to be' by krooshkin">
            <figcaption class="imageDescription">
              <span>Sevastopol, Crimea</span> <br>
              a time when the life is better then it used to be
            </figcaption>
          </figure>
        </article>

        <article class="photo">
          <figure class="photo-image lazyloading-wrapper">
            <div class="sqip-placeholder" style="{{ [helpers/sqip] 'media/images/krooshkin/sqip/7.jpeg' }}"></div>
            <img width="300"
                 height="200"
                 src="media/images/krooshkin/7.jpeg"
                 alt="'do not look down' by krooshkin">
            <figcaption class="imageDescription">
              <span>Yalta, Crimea</span> <br>
              do not look down
            </figcaption>
          </figure>
        </article>

        <article class="photo">
          <figure class="photo-image lazyloading-wrapper">
            <div class="sqip-placeholder" style="{{ [helpers/sqip] 'media/images/krooshkin/sqip/8.jpeg' }}"></div>
            <img width="300"
                 height="200"
                 src="media/images/krooshkin/8.jpeg"
                 alt="'it's time to sleep' by krooshkin">
            <figcaption class="imageDescription">
              <span>Foros, Crimea</span> <br>
              it's time to sleep
            </figcaption>
          </figure>
        </article>

      </section>
    </main>
  {{/inline}}
{{/layouts/base}}