{{#> layouts/base title="Фотографии | sanya krooshkin"}}
  {{#*inline "head-block" }}
    <meta name="description" content="sanya krooshkin">
    <link rel="preload" as="image" href="/media/img/lazyLoad/lazyload.jpg">
    <link rel="preload" as="image" href="/media/img/krooshkin/2.jpeg">
    <link rel="preload" as="image" href="/media/img/krooshkin/3.jpeg">
    <link rel="preload" as="image" href="/media/img/krooshkin/4.jpeg">
    <link rel="preload" as="image" href="/media/img/krooshkin/5.jpeg">
    <link rel="preload" as="image" href="/media/img/krooshkin/6.jpeg">
    <link rel="preload" as="image" href="/media/img/krooshkin/7.jpeg">
    <link rel="preload" as="image" href="/media/img/krooshkin/8.jpeg">
  {{/inline}}
  {{#*inline "content"}}
    <main data-barba="container" data-barba-namespace="krooshkin" class="main">
      <header class="header krooshkin-header">
        <h1 class="header-title">
          sanya krooshkin
        </h1>
        <h2 class="header-text">
          мой друг @krooshkin есть и в
          <a href='https://www.instagram.com/krooshkin/' title='link to krooshkin instagram'>инстаграм</a>
        </h2>
      </header>

      <div class="modal"></div>

      <section class="photos">

        <article class="photo">
          <figure class="photo-image">
            <img width="300"
                 height="200"
                 src="/media/img/lazyLoad/lazyload.jpg"
                 data-src="/media/img/krooshkin/2.jpeg"
                 alt="'autumn vibes' by krooshkin">
          </figure>
          <div class="overlay"></div>
          <p class='imageDescription'>
            <span>Leningrad region</span> <br>
            autumn vibes </p>
        </article>

        <article class="photo">
          <figure class="photo-image">
            <img width="300"
                 height="200"
                 src="/media/img/lazyLoad/lazyload.jpg"
                 data-src="/media/img/krooshkin/3.jpeg"
                 alt="'a home' by krooshkin">
          </figure>
          <div class="overlay"></div>
          <p class='imageDescription'>
            <span>Paul's safehouse</span> <br>
            a home
          </p>
        </article>

        <article class="photo">
          <figure class="photo-image">
            <img width="300"
                 height="200"
                 src="/media/img/lazyLoad/lazyload.jpg"
                 data-src="/media/img/krooshkin/4.jpeg"
                 alt="gradient by krooshkin">
          </figure>
          <div class="overlay"></div>
          <p class='imageDescription'>
            <span>Sevastopol, Crimea</span> <br>
            gradient
          </p>
        </article>

        <article class="photo">
          <figure class="photo-image">
            <img width="300"
                 height="200"
                 src="/media/img/lazyLoad/lazyload.jpg"
                 data-src="/media/img/krooshkin/5.jpeg"
                 alt="a sad road to nowhere by krooshkin">
          </figure>
          <div class="overlay"></div>
          <p class='imageDescription'>
            <span>Saint-Petersburg</span> <br>
            a sad road to nowhere
          </p>
        </article>

        <article class="photo">
          <figure class="photo-image">
            <img width="300"
                 height="200"
                 src="/media/img/lazyLoad/lazyload.jpg"
                 data-src="/media/img/krooshkin/6.jpeg"
                 alt="'a time when the life is better then it used to be' by krooshkin">
          </figure>
          <div class="overlay"></div>
          <p class='imageDescription'>
            <span>Sevastopol, Crimea</span> <br>
            a time when the life is better then it used to be
          </p>
        </article>

        <article class="photo">
          <figure class="photo-image">
            <img width="300"
                 height="200"
                 src="/media/img/lazyLoad/lazyload.jpg"
                 data-src="/media/img/krooshkin/7.jpeg"
                 alt="'do not look down' by krooshkin">
          </figure>
          <div class="overlay"></div>
          <p class='imageDescription'>
            <span>Yalta, Crimea</span> <br>
            do not look down
          </p>
        </article>

        <article class="photo">
          <figure class="photo-image">
            <img width="300"
                 height="200"
                 src="/media/img/lazyLoad/lazyload.jpg"
                 data-src="/media/img/krooshkin/8.jpeg"
                 alt="'it's time to sleep' by krooshkin">
          </figure>
          <div class="overlay"></div>
          <p class='imageDescription'>
            <span>Foros, Crimea</span> <br>
            it's time to sleep
          </p>
        </article>

      </section>
    </main>
  {{/inline}}
{{/layouts/base}}