{{#> layouts/base title="Размышления | Roadmap | Павел Родионов, фронтенд разработчик"}}
  {{#*inline "head-block" }}
    <link rel="preload" as="image" href="media/images/frontend/stock_photo.jpeg">
  {{/inline}}
  {{#*inline "content"}}

    <main data-barba="container" class="main">
      <header class="header">
      </header>
      <section class="post postDetail">
        <div class="post-header">
          <figure class="post-image lazyloading-wrapper">
            <img width="300"
                 height="200"
                 class="placeholder"
                 src="{{ [helpers/sqip] 'media/images/frontend/sqip/stock_photo.sqip.jpeg' }}"
                 alt="placeholder image">
            <img width="300"
                 height="200"
                 class="not-a-placeholder"
                 src="media/images/frontend/stock_photo.jpeg"
                 alt="placeholder image">
          </figure>
          <div class="info-card info-card-blue">
            <h1>Размышления о том, что делать дальше</h1>
          </div>
        </div>
        <p class="postDetail-text">
          Интересным образом, сейчас возник вопрос о дальнейших путях развития.
          Что делать дальше? В какую сторону развиваться? Продолжить ли изучение
          фронтенда на передовой его части ( новейшие, бысроизменяющиеся фреймворки )
          или же продолжить изучение более стабильных и менее подверженных таким
          стремительным изменениям вещам? <br>

          <br>

          Не думаю, что нужно что-то выбирать. <br>
          Просто продолжить делать то, что делаешь, и интерес сам приведет туда, куда
          нужно. <br>

          <br>

          В последнее время по вечерам и выходным иногда занимаюсь чтением и улучшением
          понимания того, что происходит ( и может происходить ) на бэкенде. Довольно
          интересно узнать какие возможности существуют, и что вообще можно сделать
          в современном вебе. <br>

          <br>

          Приятно осозновать, что та документация, и те непонятные моменты, которые
          были неясными, вдруг, при повторном прочтении, спустя некоторое время
          прояснились. То, что раньше казалось очень сложным и непонятным, сейчас
          стало яснее. <br>

          <br>

          На данный момент, есть несколько задач, которые весьма желательно реализовать.
          Например, одна из таких задач — это перенести данный ресурс на свой сервер — на время
          написания этого текста сайт хостится на github —, добавить этому ресурсу динамики,
          создав для него бэкенд на Django. <br>
          Понятно, что бэкенд этот весьма базовый, но тем не менее, создание бэкенда —
          новая и интересная задача, на пути реализации которой, весьма вероятно,
          станут ясны некоторые неизвестные вещи и концепции.
        </p>

        <p class="post-date">
          17 October 2020
        </p>
      </section>
    </main>
  {{/inline}}
{{/layouts/base}}