{{#> layouts/base }}
  {{#*inline "head-block" }}
    <link rel="preload" as="image" href="media/images/etc/observer-pattern.png">
    <link rel="preload" as="image" href="media/images/works/blogin.png">
    <link rel="preload" as="image" href="media/gifs/works/threejs-mountain/threejs-mountain.gif">
    <link rel="preload" as="image" href="media/gifs/works/synthesizer/synth4.gif">
    <link rel="preload" as="image" href="media/images/works/vue-inspiration-app.jpg">
    <link rel="preload" as="image" href="media/images/works/bree.png">
    <link rel="preload" as="image" href="media/images/works/lemon158.png">
  {{/inline}}
  {{#*inline "content"}}
    <div data-barba="container" class="content">
      <main class="main">
        <header class="header">
          <h1 class="header-title">
            Портфолио
          </h1>
          <h2 class="header-text">
            Павел Родионов портфолио
          </h2>
        </header>

        <section class="works">
          <article class="work">
            <a href="https://observer-pattern.frontend.spb.ru">
              <figure class="work-image work-image-truncate">
                <img width="300"
                     height="200"
                     src="media/images/etc/observer-pattern.png"
                     alt="observer-pattern template screenshot"
                     style="position: relative; z-index: 1; top: 50%; transform: translateY(-50%); padding: 0 3.5vw">
              </figure>
            </a>
            <a href="https://observer-pattern.frontend.spb.ru">
              <h3 class="work-title">
                Observer-pattern
              </h3>
            </a>
            <p class="work-text">
              Реализация паттерна проектирования, при котором данные и
              их представления односторонне связаны. <br>
              В данном случае, связывание реализуется через шаблон проектирования
              "Наблюдатель".
            </p>
            <p class="work-tech">
          <span>
            JavaScript, pattern
          </span>
            </p>
            <p class="work-date">
              24 March 2020
            </p>
          </article>
          <article class="work">
            <a href="/works/blogin/" data-barba-prevent="self">
              <figure class="work-image work-image-truncate">
                <img width="300"
                     height="200"
                     src="media/images/works/blogin.png"
                     alt="html template image">
              </figure>
            </a>
            <a href="/works/blogin/" data-barba-prevent="self">
              <h3 class="work-title">
                Адаптивная верстка
              </h3>
            </a>
            <p class="work-text">
              Верстка и "оживление" сайта JavaScript'ом.
            </p>
            <p class="work-tech">
          <span>
            Webpack, Sass, Babel, JavaScript, PostCss, HTML
          </span>
            </p>
            <p class="work-date">
              14 June 2019
            </p>
          </article>
          <article class="work">
            <a href="/works/threejs-mountain/" data-barba-prevent="self">
              <figure class="work-image work-image-truncate">
                <img width="300"
                     height="200"
                     src="media/gifs/works/threejs-mountain/threejs-mountain.gif"
                     alt="threejs mountain gif">
              </figure>
            </a>
            <a href="/works/threejs-mountain/" data-barba-prevent="self">
              <h3 class="work-title">
                Threejs Mountain
              </h3>
            </a>
            <p class="work-text">
              3д в браузере.
            </p>
            <p class="work-tech">
          <span>
            Webpack, Sass, Babel, JavaScript, Threejs и HTML
          </span>
            </p>
            <p class="work-date">
              28 May 2019
            </p>
          </article>
          <article class="work synth">
            <a href="/works/synthesizer/" data-barba-prevent="self">
              <figure class="work-image work-image-truncate">
                <img width="300"
                     height="200"
                     src="media/gifs/works/synthesizer/synth4.gif"
                     alt="WebAudioApi Synthesizer">
              </figure>
            </a>
            <a href="/works/synthesizer/" data-barba-prevent="self">
              <h3 class="work-title">
                Синтезатор
              </h3>
            </a>
            <p class="work-text">
              Ноты C D E F G A B C соответсвуют
              клавишам
              <br>
              S D F G H J K L. <br>
              Ноты C# D# F# G# A# —
              <br>
              E R Y U I.
            </p>
            <p class="work-tech">
          <span>
            Webpack, Sass, JavaScript, Babel, Web Audio Api и HTML
          </span>
            </p>
            <p class="work-date">
              9 May 2019
            </p>
          </article>
          <article class="work">
            <a href="/works/vue-inspiration-app/" data-barba-prevent="self">
              <figure class="work-image work-image-truncate">
                <img width="300"
                     height="200"
                     src="media/images/works/vue-inspiration-app.jpg"
                     alt="vue inspiration app image">
              </figure>
            </a>
            <a href="/works/vue-inspiration-app/" data-barba-prevent="self">
              <h3 class="work-title">
            <span>
              Приложение на Vue/Vuex
            </span>
              </h3>
            </a>
            <p class="work-text">
              Приложение для получения вдохновения путем просмотра красивых фотографий.
            </p>
            <p class="work-tech">
          <span>
            Vue/Vuex и стороннее api.
          </span>
            </p>
            <p class="work-date">
              15 February 2019
            </p>
          </article>
          <article class="work">
            <a href="/works/bree/" data-barba-prevent="self">
              <figure class="work-image work-image-truncate">
                <img width="300"
                     height="200"
                     src="media/images/works/bree.png"
                     alt="html template image">
              </figure>
            </a>
            <a href="/works/bree/" data-barba-prevent="self">
              <h3 class="work-title">
                Фиксированная верстка
              </h3>
            </a>
            <p class="work-text">
              Фиксированная верстка по макету.
            </p>
            <p class="work-tech">
          <span>
            Webpack, Sass, PostCss и HTML
          </span>
            </p>
            <p class="work-date">
              14 December 2018
            </p>
          </article>
          <article class="work">
            <a href="/works/lemon/" data-barba-prevent="self">
              <figure class="work-image work-image-truncate">
                <img width="300"
                     height="200"
                     src="media/images/works/lemon158.png"
                     alt="html template image">
              </figure>
            </a>
            <a href="/works/lemon/" data-barba-prevent="self">
              <h3 class="work-title">
                Фиксированная верстка
              </h3>
            </a>
            <p class="work-text">
              Одна из первых работ. Фиксированная верстка по макету.
            </p>
            <p class="work-tech">
          <span>
            Webpack, Sass, PostCss и HTML
          </span>
            </p>
            <p class="work-date">
              28 November 2018
            </p>
          </article>

        </section>
      </main>
      {{> includes/footer }}
    </div>
  {{/inline}}
{{/layouts/base}}
